<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <div class="title_left">
          <h2>Cut Machine Programs Executed</h2>
        </div>
        
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <table class="data table">
          <thead>
            <tr>
              <th>Program</th>
              <th>Product</th>
              <th>User</th>
              <th>Created</th>
              <th>Total Cuts</th>
              <th>Total Area</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @programs.each do |program| %>
              <tr>
                <td><%= program.name %></td>
                <td><%= program.product.name %></td>
                <td><%= program.user_username %></td>
                <td><%= program.created_at.normal_format %></td>
                <td><%= program.total_cuts %></td>
                <td><%= program.total_area.round(2) %></td>
                <td><%= render partial: '/programs/view_details', locals: {program: program} %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
