<p id="notice"><%= notice %></p>

<h1>Product Lines</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Order</th>
      <th>Holes quantity</th>
      <th>Polish type</th>
      <th>Tempered</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Width</th>
      <th>Height</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_lines.each do |product_line| %>
      <tr>
        <td><%= product_line.product_id %></td>
        <td><%= product_line.order_id %></td>
        <td><%= product_line.holes_quantity %></td>
        <td><%= product_line.polish_type_id %></td>
        <td><%= product_line.tempered %></td>
        <td><%= product_line.quantity %></td>
        <td><%= product_line.description %></td>
        <td><%= product_line.width %></td>
        <td><%= product_line.height %></td>
        <td><%= link_to 'Show', product_line %></td>
        <td><%= link_to 'Edit', edit_product_line_path(product_line) %></td>
        <td><%= link_to 'Destroy', product_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Line', new_product_line_path %>
