<%= link_to "Click here to view the JSON response of this view", api_v1_orders_path, class: "btn btn-danger", target: "_blank" %>

<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <div class="title_left">
          <h2>Orders</h2>
        </div>
        
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Customer</th>
              <th><i class="fa fa-cut"></i></th>
              <th><i class="fa fa-circle-thin"></i></th>
              <th><i class="fa fa-certificate"></i></th>
              <th><i class="fa fa-fire"></i></th>
              <th><i class="fa fa-truck"></i></th>
              <th></th>
              <th>Priority</th>
            </tr>
          </thead>

          <tbody>
            <% @rows.each do |row| %>
              <tr>
                <td><%= row.decorate.button_go_to %></td>
                <td><%= row.customer %></td>
                <%#= row.cut.decorate.progress_link %>
                <td><%= row.decorate.progress_link(:cut) %></td>
                <td><%= row.decorate.progress_link(:drill) %></td>
                <td><%= row.decorate.progress_link(:polish) %></td>
                <td><%= row.decorate.progress_link(:temper) %></td>
                <td><%= row.decorate.progress_link(:delivery) %></td>
                <td>
                  <% if row.activated? %>
                  <% else %>
                    <%= link_to "<i class='fa fa-cogs'></i> Retry Activation".html_safe, order_activation_index_path(order_id: row.order.id), method: :post, class: 'btn btn-danger btn-xs', remote: true %>
                  <% end %>
                </td>
                <td><%= priority_label(row.priority) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


