<%= form_for(tracking) do |f| %>
  <% if tracking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tracking.errors.count, "error") %> prohibited this tracking from being saved:</h2>

      <ul>
      <% tracking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_line_id %>
    <%= f.number_field :product_line_id %>
  </div>

  <div class="field">
    <%= f.label :stage_id %>
    <%= f.number_field :stage_id %>
  </div>

  <div class="field">
    <%= f.label :done %>
    <%= f.number_field :done %>
  </div>

  <div class="field">
    <%= f.label :next_tracking_id %>
    <%= f.number_field :next_tracking_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
